.jumbotron {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(211, 215, 207) 0%, rgb(186, 189, 182) 90% );
}

.jumbotron a:hover, footer a:hover {
    color: #ffffff;
}

section {
    margin-bottom: 2rem;
}

section h1 {
    font-size: 2rem;
    color: #20b2aa;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border: solid #dedede;
    border-width: 0 0 1px 0;
}

section p {
    text-align: justify;
}

ul {
    list-style-type: square;
}

a {
    color: #20b2aa;
    text-decoration: none;
    transition: color .5s ease-out;
}

footer a {
    color: #000000;
}